.heading{
    margin-left: 40%;
}

.main{
    font-weight: bold;
    justify-content: center;
    padding: 10px;
    margin-left: 40%;
    font-size: 18px;
}

.box{
    width:250px;
    height:20px;
}

.reset{
    font-size: 18px;
    background: grey;
    color:white;
    padding: 15px;
    font-weight: bold;
    border:1px solid white;
    cursor: pointer;
    border-radius: 20%;

}

.create{
    font-size: 18px;
    background: blue;
    color:white;
    padding:10px;
    border:1px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
}



