.main{
    position: fixed;
    font-size: 30px;
    /* border-bottom-left-radius: 1px solid red; */
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    display: flex;
    background: white;
    width: 100%;
    /* align-items: ; */
}

.link{
    text-decoration: none;
    color: black;
}