.navbar_container {
  width: 100%;
  border-radius: 90px;

  background-color: white;

  margin: 20px;

  height: -50px;
  display: inline-block;
}

.link_container p {
  display: inline-block;
  padding: 0px 20px;
}

.navbar_logo {
  background-color: white;
  margin-left: 60px;
  padding-top: 10px;
  padding-top: -10px;
  float: left;
  flex-grow: 8;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
}
