.head{
    display:flex;
}

.heading{
    font-size:48px;
    font-weight:bold;
    margin-top:4%;
}

.body{
    padding:10px;
}

.navbar{
    height: 200px;
    background: pink;
    display: flex;
    justify-content: space-around;
}

.option{
    margin-top: 5%;
    text-decoration: none;
    font-size: 18px;
    /* margin-right: -6%; */
}

.button{
    padding:8px;
    color: white;
    background: blue;
    margin-top:2px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 18px;
    border-radius:8px;
}