.main{
    padding-left: 10px;
}

.head{
    display: flex;
    /* padding-left: 10px; */
}

.heading{
    color:red;
}

.details{
    height: 40%;
}

.grantRole{
    height:30%;
}

.removeRole{
    height: 30%;
}

