.container {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 900px;
}

.div1 {
  width: 50%;
  background-color: #9c62be;
}

.div2 {
  width: 50%;
  background-image: url("../public/bg.png");
  background-size: cover;
  margin-left: -2%;
  position: relative;
  z-index: 1;
  padding-right: 800px;
}
.h1 {
  font-size: 80pt;
  padding-left: 30px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.h1:hover {
  color: black;
}

.button {
  padding: 0;
}
