.main{
    padding:10px;
}

.heading{
    margin-left: 43%;
    font-weight: bold;
    font-size: 40px;
}

.body{
   margin-left: 10%; 
   font-size: x-large;
}

.image{
    border:1px solid black;
}

.paragraph{
    font-size: x-large;

}